event-message-consumer-api/src/main/mule/event-message-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	 xmlns="http://www.mulesoft.org/schema/mule/core" 
	 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="message-processing-flow" doc:id="cd5f342b-ee6a-491d-b291-22332052a1a5" >
		<amqp:listener doc:name="Listener" doc:id="807b8420-9743-4485-a16a-5ec901bd36fb" config-ref="AMQP_Config" queueName="${rabbitmq.addqueue1}" ackMode="MANUAL">
			<amqp:response >
				<amqp:properties />
			</amqp:response>
		</amqp:listener>
		<logger level="INFO" doc:name="consume-message" doc:id="c7a6682f-524a-4b74-b273-99c1cd9bdfe0" message="consume message :- #[payload]" />
		<amqp:ack doc:name="acknowledge-message" doc:id="dff74f3c-35b7-403a-886d-831e546eaeda" ackId="#[attributes.ackId]"/>
	</flow>
</mule>
